<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Item</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
</head>
<body>

<th:block th:replace="layout :: navbarFragment"></th:block>

<div class="container mt-5">
    <h1>Edit Item</h1>
    <form th:action="@{/itemController/update/{id}(id=${item.id})}" th:object="${item}" method="post" class="mt-3">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" th:field="*{description}" rows="4" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" id="price" th:field="*{price}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="url">Image Url:</label>
            <input type="text" id="url" th:field="*{picture}" required class="form-control">
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" class="form-control">
                <option value="">Select a Category</option>
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" >Category</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Update Item</button>
    </form>
</div>

<th:block th:replace="layout :: footerFragment"></th:block>
<th:block th:replace="layout :: scriptsFragment"></th:block>

</body>
</html>
