<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css" integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2" crossorigin="anonymous">
    <th:block th:replace="layout :: headFragment('Orders')"></th:block>
</head>
<body>

<th:block th:replace="layout :: navbarFragment"></th:block>

<div class="container mt-5">
    <h2>Orders</h2>

    <div class="row mb-4">
        <div class="col">
            <form th:action="@{/orderController/search}"  method="get" class="form-inline" >
                <div class="form-group mr-3 search"   >
                    <label for="search" class="sr-only">User</label>
                    <input type="text" class="form-control" id="search" name="user" placeholder="User">
                </div>
                <div class="form-group mr-3">
                    <label for="dateInput" class="sr-only">Date</label>
                    <input type="date" class="form-control " id="dateInput" name="date">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Transaction ID</th>
            <th>User</th>
            <th>Purchase Date</th>
            <th>Order type</th>
            <th>Items</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${items}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.user.username}"></td>
            <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${order.type}"></td>
            <td>
                <ul>
                    <li th:each="item : ${order.items}" th:text="${item.item.name} + ' - Qty: ' + ${item.quantity}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footerFragment"></th:block>
<th:block th:replace="layout :: scriptsFragment"></th:block>
<script>

</script>
</body>
</html>
